<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- 
	namespace: 指定当前mapper.xml管理的接口 全限定名
	注意：一个mapper.xml只能管理一个接口
-->
<mapper namespace="com.baizhi.dao.PoetriesDAO">

    <resultMap id="poetries" type="Poetries">
        <id property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
        <association property="poets" javaType="Poets">
            <id property="id" column="poetId"/>
            <result property="name" column="name"/>
        </association>
    </resultMap>

    <select id="queryAllPoetries" resultMap="poetries">
        SELECT
            p1.id,
            p1.title,
            p1.content,
            p2.id poetId,
            p2.name
        FROM
            poetries p1
        LEFT JOIN poets p2 ON p1.poet_id = p2.id
    </select>

</mapper>